.contenido-why-pvc{
  padding: 100px;
  .section-subtitle{
    background-color: var(--color-1);
    padding: 2em 1em;
    border-radius: 10px;
    width: 70%;
    color: var(--color-6);
    font-size: 18px;
    line-height: 35px;
  }
}