.hero-section{
  position: relative;
  img{
    height: 90vh;
    object-fit: cover;
    width: 100%;
  }
  .mask{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90vh;
    width: 100%;
    background-color: #2f6c5f9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      color: white;
      font-size: 65px;
      b{
        color: var(--color-2);
        font-weight: 500;
      }
    }
    .subtitle{
      color: var(--color-2);
      font-size: 22px;
      width: 60%;
      text-transform: none;
      text-align: center;
    }
  }
}
@media (max-width: 476px){
  .hero-section{
    .mask{
      padding: 1em;
      h1{
        text-align: center;
        font-size: 35px;
      }
      .subtitle{
        width: 100%;
      }
    }
  }
}