.carrusel-cards{
  padding: 0px 100px 100px 100px;
  .swiper-pagination{
    bottom: -5px !important;
  }
  .swiper-slide{
    height: auto;
  }
}
@media (max-width: 476px){
  .carrusel-cards{
    padding: 1em;
  }
}