.productos-padre{
  padding: 100px 250px;
  h2{
    b{
      font-weight: 500;
      color: var(--color-3);
    }
  }
  .separator{
    margin: 20px 0px;
  }
  p{
    font-size: 20px;
    color: var(--color-6);
    font-weight: 300;
    line-height: 36px;
    b{
      font-weight: 500;
      color: var(--color-4);
    }
  }
  ul{
    list-style: disc;
    li::marker {
    color: var(--color-3);     /* solo la viñeta */
    font-size: 1.5em; /* también podés agrandarlo */
    }
    li{
      color: var(--color-6);
      font-size: 16px;
      margin-bottom: 1em;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  h3{
    text-align: center;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 24px;
    b{
      font-weight: 600;
      color: var(--color-3);
    }
  }
  .big{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 1.5em;
  }
  .catalogo-section{
    i{
      font-size: 30px;
      margin-right: 10px;
      color: var(--color-3);
    }
    a{
      color: var(--color-3);
      font-weight: 500;
    }
    p{
      font-size: 12px;
      font-weight: 500;
    }
  }
}