.small-section-banner{
  background-color: var(--color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  h1{
    width: 80%;
    color: var(--color-2);
    text-align: center;
  }
  a{
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border-radius: 10px;
    color: var(--color-4);
  }
}
@media (max-width: 476px){
  .small-section-banner{
    height: 50vh;
    padding: 0em 1em;
    h1{
      width: 100%;
      font-size: 25px;
    }
  }
}