.hero-section-faqs{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-3);
  h1{
    color: white;
    font-size: 45px;
    b{
      color: var(--color-2);
    }
  }
  p{
    color: var(--color-2);
    font-size: 20px;
  }
}